@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

/*General*/

#botones {
	background-color: transparent;
	border-radius: 28px;
	border-color: #625392;
	color: #625392;
}

#linkss {
	text-decoration: none;
	color: #625392;
	font-size: 15px;
}
/*Login*/

.loginTitle {
	text-align: center;
	margin-left: 70px;
	margin-top: 120px;
}
.loginButton {
	width: 285px;
	border-radius: 28px;
	border-color: gray;
	border-width: 0.5px;
	background-color: transparent;
}
.loginButton:hover {
	width: 285px;
	border-radius: 28px;
	border-color: #625392;
	border-width: 0.5px;
	background-color: transparent;
}

.loginForm {
	margin-left: 450px;
	margin-top: 10px;
}

#loginInputs {
	width: 200px;
	background: transparent;
	border: none;
	border-bottom: 1px solid gray;
	border-radius: 0;
}

/*Profile*/
.profileData {
	font-size: 15px;
	font-family: 'Work Sans';
}
/*Card Class*/

.cardClass {
	width: 100px;
	height: 70px;
}
/*New task form*/

.newTaskInput {
	width: 90%;
}

#botonTaskForm {
	background-color: transparent;
	border-radius: 28px;
	border-color: #625392;
	color: #625392;
	width: 60%;
	margin-left: 80px;
}

#newTaskForm {
	border-color: #625392;
}
button .taskFormButton {
	padding: 500px;
}

.newTaskInputs {
	width: 350px;
	background: transparent;
	border: none;
	border-bottom: 1px solid gray;
	border-radius: 0;
}

.backArrow {
	margin-left: 350px;
}

.backArrowD {
	margin-left: 0px;
}

/*MyTasks*/

.centerthebutton {
	margin-top: 20px;
	margin-left: 500px;
}

.centeralign {
	margin-top: 90px;
	text-align: center;
}

/*MyTaskCard*/

#mycardstyle {
	padding: 0px;
	width: 350px;
	height: 270px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}
#mycardstyle:hover {
	transform: scale(1.02);
}

/*Home*/
.navstyle {
	font-family: 'Work Sans';
}

.allFontFamily {
	font-family: 'Work Sans';
}
.profileHeader {
	width: 100vw;
	background: linear-gradient(to bottom, rgba(42, 42, 108, 1), rgba(71, 60, 146, 0.73)),
		url('/fondo1.jpeg') no-repeat fixed center;
	/* background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('/fondo1.jpeg'); */
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
	height: 70vh;
}

.profileHeader img {
	width: 100%;
}

.profileQuote {
	font-family: 'Work Sans';
	font-size: 30px;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 200px;
}

.homeMainButton {
	font-family: 'Work Sans';
	font-size: 15px;
	background-color: none;
	border-color: rgba(255, 255, 255, 0.6);
	color: rgba(255, 255, 255, 0.6);
	border-radius: 20;
	margin-left: 580px;
	text-decoration: none;
}

.homeMainLink {
	font-family: 'Work Sans';
	font-size: 15px;
	background-color: none;
	color: white;
	border-radius: 20;
	text-decoration: none;
}
.homeMainLink:hover {
	text-decoration: none;
	color: white;
}

/*Task Card*/

.taskCardStyle {
	font-family: 'Work Sans';
}

.taskCardInfo {
	font-size: 12px;
	color: grey;
	font-family: 'Work Sans';
}
.cardImage {
	width: 25px;
	height: 25px;
}

button .detailsButton {
	background-color: transparent;
	border-color: black;
}

/*Card Link*/

link .cardLink {
	text-decoration: none;
}
/*Image*/

.imgStyle {
	border-radius: 50%;
	height: 170px;
	width: 170px;
}

.imgCard {
	border-radius: 50%;
}
/*Map*/
.MapStyle {
	margin-left: 90px;
}

.autocompleteStyle {
	border-radius: 20;
}
h2 {
	font-family: 'Work Sans';
}
body {
	background-color: transparent;
	font-family: 'Work Sans';
}

.navbarcolor {
	background-color: transparent;
	color: black;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.nav-item {
	margin: 15px;
	font-weight: 400;
}

.nav-item-text {
	margin: 15px;
	font-weight: 600;
}

#makeanofferbutton {
	background-color: transparent;
	border-radius: 28px;
	margin-left: 100px;
	color: gray;
	border-width: 0.5px;
	width: 200px;
}

#makeanofferbutton:hover {
	color: black;
}

.fuentecandado {
	margin-left: 110px;
	color: black;
}
.fuentefondos {
	font-size: 50px;
}

.imagecandado {
	margin-left: 25px;
}

.postedByCompleted {
	font-size: 13px;
}

.assignedBudget {
	font-size: 25px;
	color: black;
}

.profilePicStyle {
	margin-left: 450px;
	margin-top: 60px;
}

.profileDataStyle {
	margin-left: 430px;
}

.profileTitleStyle {
	margin-left: 410px;
	margin-top: 40px;
}

.formTitleStyle {
	margin-left: 50px;
}

.linklinkStyle {
	color: black;
	font-family: 'Work Sans';
}
/*Prueba botón*/
